.Form {
  width: 100%;
  background-color: #25273c;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  color: #e4e5f1;

  &__submit {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    opacity: 0.4;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 0.1s;
    cursor: auto;

    &--active {
      opacity: 1;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 7px 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;

    &::placeholder {
      font-size: 14px;
      opacity: 0.3;
    }
  }
}
