.App {
  color: white;
  padding: 0 20px;
  margin-top: 80px;
}

.todo {
  max-width: 540px;
  margin: 0 auto 40px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 20px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 25px;
    border-radius: 5px;
  }

  &__options {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25273c;
    font-size: 14px;

    input[type="radio"] {
      display: none;
    }

    .todo__count {
      opacity: 0.4;
      font-weight: 500;
      font-style: italic;
    }

    .todo__controls {
      display: flex;
      align-items: center;
      gap: 10px;

      .todo__label {
        opacity: 0.4;
        font-weight: 500;
        transition: 0.1s;
        cursor: pointer;

        &--active {
          opacity: 1;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
    .todo__clear {
      opacity: 0.4;
      transition: 0.1s;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 500px) {
  .App {
    margin-top: 40px;
  }

  .todo__options {
    display: none;
  }
}
