@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: url("../public/images/bg-desktop-dark.jpg") #161722 no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

input {
  font-family: inherit;
}
